<!DOCTYPE html>
<html>
  <head>
    <title>D&D Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Davidson Project 2</h1>
    <p>Welcome to a D&D Database</p>
    <h3>View All Pages</h3>
    <p>
        <a href="/characters/all">Characters</a>
        <a href="/deity/all">Deities</a>
        <a href="/party/all">Parties</a>
        <a href="/player/all">Players</a>
        <a href="/quest/all">Quests</a>
    </p>
    <h3>SQL Query Pages</h3>
    <p>
        <a href="/query/q1">Query 1</a>
        <a href="/query/q2">Query 2</a>
        <a href="/query/q3">Query 3</a>
        <a href="/query/q4">Query 4</a>
        <a href="/query/q5">Query 5</a>
        <br>
        <a href="/query/q6">Query 6</a>
        <a href="/query/q7">Query 7</a>
        <a href="/query/q8&9">Query 8&9</a>
        <a href="/query/q10">Query 10</a>
    </p>

  </body>
</html>
