<!DOCTYPE html>
<html>
<head>
    <title>Completed Quests</title>
</head>
<body>
<h1>List of Completed Quests</h1>
<table border = "1">
    <tr>
        <th>Quest</th>
        <th>Completed By</th>
        <th>Reward</th>
    </tr>
    <% for(var i = 0; i < completed.length; i++) { %>
    <tr>
        <td><%= completed[i].quest_name %></td>
        <td><%= completed[i].party_name %></td>
        <td><%= completed[i].reward %></td>
    </tr>
    <% } %>
</table>
</body>
</html>