<!DOCTYPE html>
<html>
<head>
    <title>Deity - Add</title>
</head>
<body>
<h1>Add New Deity</h1>
<form action = "/deity/insert" method = "get">
    Deity Name: <input name = "d_name" type = "text"/>
    Deity Of: <input name = "deityOf" type = "text"/>
    Deity Alignment: <input name = "d_alignment" type = "text"/>
    <br />
    <br />
    <input type = "submit" />

</form>
</body>
</html>