<!DOCTYPE html>
<html>
<head>
    <title>Party - Add</title>
</head>
<body>
<h1>Add New Party</h1>
<form action = "/party/insert" method = "get">
    Party Name: <input name = "party_name" type = "text"/>
    <br>
    Number of Members: <input name = "numOfMembers" type = "number" min = 0 />
    <p>
        <h3>Members</h3>
        <% for(var i =0; character_result.length > i;i++){ %>
        <input type = "checkbox" name="character_id" value=
        "<%=character_result[i].character_id %>"> <%= character_result[i].c_name
        + ', ' + character_result[i].c_race + ', ' + character_result[i].c_class
        + ', ' + character_result[i].c_alignment%>
        <br />
        <% } %>
    </p>
    <input type = "submit" />

</form>
</body>
</html>