<!DOCTYPE html>
<html>
<head>
    <title>Party - Add</title>
</head>
<body>
<h1>Add New Party</h1>
<form action = "/party/insert" method = "get">
    Party Name: <input name = "party_name" type = "text"/>
    Number of Members: <input name = "numOfMembers" type = "number"/>
    <br />
    <br />
    <input type = "submit" />

</form>
</body>
</html>